:root {
    --gray: #ABB2BF;
    --gray-dark: #656970;
    --gray-light: #F3F5F9;
    --gray-extra-light: #F6F8FB
    --white: #fff;
    --black: #000;
    --black-light: #373F50;
    --blue: #3AAFD2;
    --orange: #FE696A;
    --orange1: #FEA569;
}