.arrival-product {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 30rem;
  margin-top: 1.5rem;
}
@media (max-width: 62em) {
  .arrival__item:nth-child(3) {
    margin-top: 1.5rem;
  }
}
.arrival-product__img {
  flex: 1;
  border: 1px solid var(--gray);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.arrival-product__img img {
  width: 100%;
  object-fit: cover;
}

.arrival-product__desc {
  flex: 1;
  margin-left: 1.5rem;
}

.arrival__title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--gray-dark);
  margin-bottom: 0.5rem;
}

.arrival-product__name {
  font-size: 1.6rem;
  color: var(--blue);
  font-weight: 500;
  margin-bottom: 1rem;
}
.arrival-product__price {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--gray-dark);
  text-decoration: line-through;
}

.arrival-product__promo {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--gray-dark);
}
.arrival-product__rating {
  margin-top: 1.5rem;
}
