.slider {
  flex: 3;
  padding: 0 2rem;
  height: 100%;
}
@media (max-width: 27em) {
  .slider {
    padding: 0 4rem;
  }
}
.slider__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
@media (max-width: 47em) {
  .slider__item:nth-child(1) {
    margin-top: 1.5rem;
  }
}
